---
import Image from "astro/components/Image.astro"
import CristianFoto from "../imagenes/CristianFoto.jpeg"
 const personalImageAlt = "Cristian Peña"
---

<article class="flex flex-col items-center justify-center gap-8 text-white-400 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Cristian Peña. Empecé en la
      programación gracias a mi curiosidad donde empece a trabajar con python. Actualmente estoy <strong
        >cursando el tecnologo en Analisis y Desarrollo de Software (ADSO) en el SENA</strong
      >.
    </p>


    <p>
      Como Aprendiz, <strong
        >Me gusta estudiar de forma autodidacta y expresarme en lo que mas me gusta</strong
      >. Mi objetivo es adquirir experiencia cada vez en el basto Mundo de la programación, ya que es algo<strong>que me encanta y me apasiona</strong>.
    </p>
  </div>

  <Image width="200" height="200" src={CristianFoto} alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-800/70 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%" />

</article>

